doctype HTML

html

	head
		meta(charset='UTF-8')
		title Dota 2 Tracker
		link(rel='stylesheet' type='text/css' href='/CSS/indexStyle.css')

	body
		div(id='mainContainer' class='main-container')
			ul(id='heroListContainer' class='list-container')
				each hero in heroes
					if !hero.name.includes('recipe') && !hero.name.includes('river')
						li(id=hero.id class='hero-img img-container')
							img(src='/images/'+hero.name+'.png' class='image')
			ul(id='itemListContainer' class='list-container')
				each item in items
					if !item.name.includes('recipe') && !item.name.includes('river') && item.id<1000
						li(id=item.id class='item-img img-container')
							img(src='/images/'+item.name+'.png' class='image')

			form(action='/matches' method='get')
				input(type='submit' value='Matches')
