.mainContainer{
	position: relative;
}

.listContainer{
}

.imgContainer:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.imgContainer{
	display: inline-block;
	padding: 2px;
	margin: 1px;
}

img{
	object-fit: cover;
	width: 100%;
	height:100%;
}