body{
	background-image: url("background_index2.JPG");
    background-repeat: repeat-y;
}

#itemListContainer{
	width:749px;
}

#heroListContainer{
	width:718px;
}

.mainContainer{
	text-align: center;
	display: block;
    margin: 0 auto;
	padding: 20px;
}

.listContainer{
	display: inline-block;
    margin: 0 auto;
    background: black;
}

.heroImageContainer{
	width: 59px;
	height: 33px;
	margin: 2px;
    border: 1px solid #ccc;
	float:left;
	background: black;
}

.itemImageContainer{
	width: 40.77px;
	height: 33px;    
	margin: 2px;
    border: 1px solid #ccc;
	float:left;
	background: black;
}

img:hover{
	border: 1px solid #777;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:100%;
	max-height:100%;
}